<section class="slide slide--split-screen" data-slide="{{slide_number}}">
  <div class="split-screen">
    <div class="split-screen__side split-screen__side--left" style="background-image: url('{{left_image}}');">
      <div class="split-screen__overlay"></div>
      <div class="split-screen__content">
        <div class="split-screen__label">{{left_label}}</div>
        <div class="split-screen__headline">{{left_headline}}</div>
        <div class="split-screen__body">{{left_body}}</div>
      </div>
    </div>
    <div class="split-screen__seam">
      <div class="split-screen__vs">{{vs_label}}</div>
    </div>
    <div class="split-screen__side split-screen__side--right" style="background-image: url('{{right_image}}');">
      <div class="split-screen__overlay split-screen__overlay--accent"></div>
      <div class="split-screen__content">
        <div class="split-screen__label">{{right_label}}</div>
        <div class="split-screen__headline">{{right_headline}}</div>
        <div class="split-screen__body">{{right_body}}</div>
      </div>
    </div>
  </div>
  <footer class="slide__footer">
    <div>{{footer_left}}</div>
    <div>{{footer_right}}</div>
  </footer>
</section>
