<section class="slide slide--magazine-cover" data-slide="{{slide_number}}">
  <div class="magazine">
    <div class="magazine__masthead">
      <div class="magazine__title">{{masthead_title}}</div>
      <div class="magazine__issue">{{masthead_issue}}</div>
    </div>
    <div class="magazine__hero" style="background-image: url('{{hero_image}}');">
      <div class="magazine__overlay"></div>
    </div>
    <div class="magazine__main">
      <div class="magazine__kicker">{{cover_kicker}}</div>
      <h1 class="magazine__headline">{{headline}}</h1>
      <div class="magazine__standfirst">{{standfirst}}</div>
      <div class="magazine__byline">{{byline}}</div>
    </div>
    <aside class="magazine__sidebar">
      <div class="magazine__sidebar-label">{{inside_label}}</div>
      <div class="magazine__sidebar-list">
        {{body}}
      </div>
    </aside>
  </div>
  <footer class="slide__footer">
    <div>{{footer_left}}</div>
    <div>{{footer_right}}</div>
  </footer>
</section>
