<section class="slide slide--framework-pillars slide--framework-6-pillars" data-slide="{{slide_number}}">
  <header class="slide__header">
    <div class="slide__eyebrow">{{eyebrow}}</div>
    <div class="slide__page-number">{{slide_number}} / {{slide_count}}</div>
  </header>
  <h1 class="slide__title">{{title}}</h1>
  {{subtitle_block}}
  <div class="slide__body">
    <div class="pillars-row pillars-row--6">
      <div class="pillar">
        <div class="pillar__icon">{{p1_icon}}</div>
        <div class="pillar__title">{{p1_title}}</div>
        <div class="pillar__lead">{{p1_lead}}</div>
        <div class="pillar__body">{{p1_body_md}}</div>
      </div>
      <div class="pillar">
        <div class="pillar__icon">{{p2_icon}}</div>
        <div class="pillar__title">{{p2_title}}</div>
        <div class="pillar__lead">{{p2_lead}}</div>
        <div class="pillar__body">{{p2_body_md}}</div>
      </div>
      <div class="pillar">
        <div class="pillar__icon">{{p3_icon}}</div>
        <div class="pillar__title">{{p3_title}}</div>
        <div class="pillar__lead">{{p3_lead}}</div>
        <div class="pillar__body">{{p3_body_md}}</div>
      </div>
      <div class="pillar">
        <div class="pillar__icon">{{p4_icon}}</div>
        <div class="pillar__title">{{p4_title}}</div>
        <div class="pillar__lead">{{p4_lead}}</div>
        <div class="pillar__body">{{p4_body_md}}</div>
      </div>
      <div class="pillar">
        <div class="pillar__icon">{{p5_icon}}</div>
        <div class="pillar__title">{{p5_title}}</div>
        <div class="pillar__lead">{{p5_lead}}</div>
        <div class="pillar__body">{{p5_body_md}}</div>
      </div>
      <div class="pillar">
        <div class="pillar__icon">{{p6_icon}}</div>
        <div class="pillar__title">{{p6_title}}</div>
        <div class="pillar__lead">{{p6_lead}}</div>
        <div class="pillar__body">{{p6_body_md}}</div>
      </div>
    </div>
    {{kicker_block}}
  </div>
  <footer class="slide__footer">
    <div>{{footer_left}}</div>
    <div>{{footer_right}}</div>
  </footer>
  <div class="notes">{{notes}}</div>
</section>
